:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.house {
    width: 900px;
    height: 900px;
    border: 5px solid red;
}
.box {
    width: 150px;
    height: 150px;
    background-color: green;
    position: absolute;
}